/*contenedor*/

div.contenedor {
    display: grid;
    grid-template: 100vh / repeat(2, 1fr);
    grid-template-areas: 
        "item-1 ."
        "item-2 .";
}

/*item-1*/

div.item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 2.2em;
}

div.menu a {
    text-decoration: none;
    color: black;
}

h1 {

}

p {

}

/*social-bar */

div.social-bar {

}

div.social-bar a {

}

/*flecha navegacion*/

div.flecha-navegacion {

}

div.flecha-navegacion a {

}

/*item-2*/

div.item-2 {

}

div.boton {

}

div.boton button {

}

/*footer*/

footer {

}

footer p {

}



