/*contenedor*/

div.contenedor {
    display: grid;
    grid-template: 100vh / repeat(2, 1fr);
    grid-template-areas: 
        "item-1 ."
        "item-2 .";
}

/*item-1*/

div.item-1 {

}

div.menu {

}

div.menu a {

}

h1 {

}

p {

}

/*social-bar */

div.social-bar {

}

div.social-bar a {

}

/*flecha navegacion*/

div.flecha-navegacion {

}

div.flecha-navegacion a {

}

/*item-2*/

div.item-2 {

}

div.boton {

}

div.boton button {

}

/*footer*/

footer {

}

footer p {

}



