/*contenedor*/

div.contenedor {
    display: grid;
    grid-template: 100vh / repeat(2, 1fr);
    grid-template-areas: 
        "item-1 ."
        "item-2 .";
}

/*item-1*/

div.item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 2.2em;
}

div.menu a {
    text-decoration: none;
    color: black;
}

div.item-1 h1 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 5rem;
    text-align: center;
}

div.item-1 h1 span {
    padding-left: 25%;
}

p {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: .8rem;
    line-height: 2.5;
    text-transform: uppercase;
    letter-spacing: 0.175em; 
}

/*social-bar */

div.social-bar {
    margin-top: 3em;
}

div.social-bar a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 0 .3em;

}

/*flecha navegacion*/

div.flecha-navegacion {
    position: absolute;
    right: 62%;
    top: 83%;
}

div.flecha-navegacion a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
}

div.flecha-navegacion a span {
    font-weight: bold;
}

/*item-2*/

div.item-2 {
    background-image: url(images/casa.png); 
    background-size: cover;

}

div.boton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

div.boton button {
    margin-bottom: 6rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-family: "Raleway", Helvetica, sans-serif;
}

div.boton button:hover {
    background-color: #49FCD3;
    transition-duration: 1s;
}

/*footer*/

footer {

}

footer p {
    font-size: .5rem;
    margin: 0;
    text-align: center;
}

footer p a {
    color: black;
}




